Source: apt-btrfs-snapper
Section: admin
Priority: optional
Maintainer: name <email>
Standards-Version: 4.6.1
Build-Depends: debhelper-compat (= 13)
Rules-Requires-Root: no

Package: apt-btrfs-snapper
Architecture: all
Depends: ${misc:Depends}, snapper
Description: pkgdesc
